<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{email}}</p>
</div>

<article class="about">
	<h2>Sobre mí</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non posuere nulla. Integer eu neque consequat ipsum malesuada blandit. In nec ante in mauris porta rhoncus. In mattis, tellus eget semper pretium, ligula lorem fermentum diam, vel accumsan quam nunc eu nibh. Suspendisse vitae arcu magna. Donec imperdiet vehicula elementum. Quisque tempor, felis sed elementum placerat, orci mauris mattis tortor, sit amet mollis urna nisi in nisl. Nunc blandit vehicula euismod. Proin vitae arcu augue. Ut volutpat lorem eget ante scelerisque, quis facilisis arcu gravida. Cras eu mi egestas, tristique diam sit amet, ullamcorper ipsum.
	</p>
</article>