<!--Tuberías o pipes (filtros)-->
{{fecha | date:"fullDate" | uppercase}} <br/>
{{fecha | date:"dd/MM/yyyy"}} <br/>
{{"HOLA MUNDO USANDO PIPES" | lowercase}} <br/>
{{ 4 | calculadora: 2}}

<h2>Crear usuario</h2>
<form #newUser="ngForm" (ngSubmit)="onSubmit(newUser)">
	<p>
		<label for="name">Nombre</label>
		<input type="text" name="name" #name="ngModel" [(ngModel)]="new_user.name" required/>
		<span *ngIf="name.touched && !name.valid" [ngStyle]="{color: 'red'}">
			*Formato inválido
		</span>
	</p>
	<p>
		<label for="job">Trabajo</label>
		<input type="text" name="job" #job="ngModel" [(ngModel)]="new_user.job" required/>
		<span *ngIf="job.touched && !job.valid" [ngStyle]="{color: 'red'}">
			*Formato inválido
		</span>
	</p>
	<input type="submit" value="Guardar usuario" [disabled]="!newUser.form.valid"/>
</form>

<div *ngIf="usuario_guardado">
	<h3>El usuario se ha guardado correctamente</h3> 
	<div><strong>Nombre: </strong>{{usuario_guardado.name}}</div>
	<div><strong>Puesto de trabajo: </strong>{{usuario_guardado.job}}</div>
</div>

<hr/>

<input type="text" [(ngModel)]="userId" (keyup.enter)="cargaUsuario()"/>

<div *ngIf="!user">Cargando...</div>

<div *ngIf="user">
	<img src="{{user.avatar}}" width="200px"/>
	<h2> {{user.first_name + " " + user.last_name}} </h2>
</div>

<hr/>

